@model MVCJatkoApp2.Models.Logins
@{
    ViewBag.Title = "Kotisivu";
}
<script>
    $(document).ready(function () {
        $('#CalButton').click(function () {
            $('#Calendar').modal('show');
        });

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    main {
        margin: 1px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    body {
        background-color: rgba(215, 115, 30, 0.06);
    }

    section {
        width: 100%;
        margin-bottom: 20px;
    }

    .right-section {
        width: 100%;
        float: none;
    }

        .right-section h5,
        .right-section img,
        .right-section p {
            text-align: center;
        }

    @@media (min-width: 768px) {
        section {
            width: 48%;
        }

        .right-section {
            width: 48%;
            float: right;
        }

            .right-section h5,
            .right-section img,
            .right-section p {
                text-align: right;
            }
    }
</style>

<body>

    <main>

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h1 style="text-shadow:3px 3px white">NORTHWIND hallinta</h1>
            <p></p>
            <h3>_</h3>

            @if (Session["UserName"] == null)
            {
                <div class="table table-hover; row mb-1">
                    <a class="btn btn-primary" id="LoginButton">Kirjaudu</a>
                    <p></p>
                    <a class="btn btn-primary" href="/Products/CardIndex"> Esittelynäkymä </a>
                    <p></p>
                    <br />
                    <br />
                    <br />
                </div>
            }
            else
            {
                <div class="table table-hover; row mb-1">
                    <a class="btn btn-primary" href="/Products/CardIndex">Esittelynäkymä </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Customers/Index"> Asiakkaat </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Customers/Create">Lisää asiakas </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Products/Index"> Tuotteet </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Products/Create"> Lisää tuote </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Orders/Index"> Tilaukset </a>
                    <p></p>
                    <a class="btn btn-primary" href="/Orders/TilausOtsikot"> Tilausotsikot </a>

                </div>
            }
        </section>

        <section>
            <h5>HUOLTO, NEUVONTA JA TUKI</h5>
            <a target="_blank" href="https://careeria.fi/asiakastyot/ict-alan-tyot-huolto-neuvonta-ja-tuki/">
                <img src="~/Images/Careera.png" alt="Careera.png" width="300" height="100" target="_blank">
            </a>
            <p><a style="height:50px; width:300px" class="btn btn-outline-primary" href="/Home/About" target="_blank">Ylläpidon yhteystiedot</a></p>
        </section>

    </main>
</body>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#LoginButton').click(function () {
                $('#LoginRuutu').modal('show');
            });

            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            $('#CalButton').click(function () {
                $('#Calendar').modal('show');
            });

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
@{Html.RenderPartial("_LoginModal");}
@{Html.RenderPartial("_Calendar");}
